<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>


<h2>Czech Tutor</h2>

<p>Configure a Czech language lesson below:</p>

<form id="lesson_config_form" th:method="post" th:action="@{/home}" th:object="${lessonForm}">
    <h3>Select the language to translate from:</h3>
    <fieldset id="fromLanguage">
      <label for="fromLanguage">From Language</label><br>
      <input type="radio" id="fromLanguage" th:value="${czLanguage}" name="fromLanguage" th:checked="${checkButtonChecked}" th:field="*{fromLanguage}" />
      <th:block th:text="${czLanguage}"/>
      <input type="radio" id="fromLanguage" th:value="${enLanguage}" name="fromLanguage" th:field="*{fromLanguage}"/>
      <th:block th:text="${enLanguage}"/>
    </fieldset>
  
    <h3>Select the language to translate to:</h3>
    <fieldset id="toLanguage">
      <label for="toLanguage">To Language</label><br>
      <input type="radio" id="toLanguage" th:value="${czLanguage}" name="toLanguage" th:field="*{toLanguage}" />
      <th:block th:text="${czLanguage}"/>
      <input type="radio" id="toLanguage" th:value="${enLanguage}" name="toLanguage" th:checked="${checkButtonChecked}" th:field="*{toLanguage}" />
      <th:block th:text="${enLanguage}"/>
    </fieldset>
    <br>
    <button type="submit">Submit</button>

</form>

</body>
</html>