<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>


<h2>Czech Tutor</h2>

<p>Configure a Czech language lesson below:</p>

<form id="lesson_config_form">
    <h3>Select the language to translate from:</h3>
    <fieldset id="fromLanguage">
      <label for="fromLanguage">From Language</label><br>
      <input type="radio" id="czech" value="CZ" name="fromLanguage" checked="checked">
      <label for="czech">Czech</label><br>
      <input type="radio" id="english" value="EN" name="fromLanguage">
      <label for="english">English</label><br>
    </fieldset>
  
    <h3>Select the language to translate to:</h3>
    <fieldset id="toLanguage">
      <label for="toLanguage">To Language</label><br>
      <input type="radio" id="czech" value="CZ" name="toLanguage">
      <label for="czech">Czech</label><br>
      <input type="radio" id="english" value="EN" name="toLanguage" checked="checked">
      <label for="english">English</label><br>
    </fieldset>
    <br>
    <input type="button" id="submit-button" onclick="submitForm()" value="Submit">

</form>

<script src="js/src/home.js"></script>
</body>
</html>