<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>


<h2>Czech Tutor</h2>

<p>Configure a Czech language lesson below:</p>

<form id="lesson_config_form" th:method="post" th:action="@{/home}" th:object="${lessonForm}">
    <h3>Select the language to translate from:</h3>
    <fieldset id="fromLanguage">
      <label for="fromLanguage">From Language</label><br>
      <input type="radio" id="czech" value="CZ" name="fromLanguage" checked="checked" th:field="*{fromLanguage}">
      <label for="czech">Czech</label><br>
      <input type="radio" id="english" value="EN" name="fromLanguage" th:field="*{fromLanguage}">
      <label for="english">English</label><br>
    </fieldset>
  
    <h3>Select the language to translate to:</h3>
    <fieldset id="toLanguage">
      <label for="toLanguage">To Language</label><br>
      <input type="radio" id="czech" value="CZ" name="toLanguage" th:field="*{toLanguage}">
      <label for="czech">Czech</label><br>
      <input type="radio" id="english" value="EN" name="toLanguage" checked="checked" th:field="*{toLanguage}">
      <label for="english">English</label><br>
    </fieldset>
    <br>
    <button type="submit">Submit</button>

</form>

</body>
</html>