<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>lesson</title>
</head>
<body>

<h2>Lesson</h2>

<h3>Translate the following phases.</h3>

<form id="question_form" th:method="post" th:action="@{/lesson/{path}(path=${path})}" th:object="${answerForm}">

    <h3>Question:</h3>

    <fieldset id="question">
      <label for="question" th:text="${question.phrase}"></label><br>
      <input type="radio" id="question" th:value="${question.option1}" name="option1" th:field="*{answer}">
      <label for="option1" th:text="${question.option1}"></label><br>
      <input type="radio" id="question" th:value="${question.option2}" name="option2" th:field="*{answer}">
      <label for="option2" th:text="${question.option2}"></label><br>
      <input type="radio" id="question" th:value="${question.option3}" name="option3" th:field="*{answer}">
      <label for="option3" th:text="${question.option3}"></label><br>
      <input type="radio" id="question" th:value="${question.option4}" name="option4" th:field="*{answer}">
      <label for="option4" th:text="${question.option4}"></label><br>
    </fieldset>
    
    <br>
    <button type="submit">Submit</button>
</form>

</body>
</html>