<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>lesson</title>
</head>
<body>

<h2>Lesson</h2>

<h3>Translate the following phases.</h3>

<form id="question_form">

    <h3>Question:</h3>

    <fieldset id="question1">
      <label for="question1" th:text="${question.phrase}"></label><br>
      <input type="radio" id="option1" value="" name="question1">
      <label for="option1" th:text="${question.option1}"></label><br>
      <input type="radio" id="option2" value="" name="question1">
      <label for="option2" th:text="${question.option2}"></label><br>
      <input type="radio" id="option3" value="" name="question1">
      <label for="option3" th:text="${question.option3}"></label><br>
      <input type="radio" id="option4" value="" name="question1">
      <label for="option4" th:text="${question.option4}"></label><br>
    </fieldset>
    
    <br>
    <button type="submit">Submit</button>
</form>

</body>
</html>