<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>lesson</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<h2>Lesson</h2>

<h3>Translate the following phases.</h3>

<form id="question_form">

    <h3>Question 1:</h3>

    <fieldset id="question1">
      <label for="question1">{PHASE TO TRANSLATE}</label><br>
      <input type="radio" id="option1" value="" name="question1" checked="checked">
      <label for="option1">{OPTION 1}</label><br>
      <input type="radio" id="option2" value="" name="question1">
      <label for="option2">{OPTION 2}</label><br>
      <input type="radio" id="option3" value="" name="question1">
      <label for="option3">{OPTION 3}</label><br>
      <input type="radio" id="option4" value="" name="question1">
      <label for="option4">{OPTION 4}</label><br>
    </fieldset>
    
    <h3>Question 2:</h3>
    
    <fieldset id="question2">
      <label for="question2">{PHASE TO TRANSLATE}</label><br>
      <input type="radio" id="option1" value="" name="question2" checked="checked">
      <label for="option1">{OPTION 1}</label><br>
      <input type="radio" id="option2" value="" name="question2">
      <label for="option2">{OPTION 2}</label><br>
      <input type="radio" id="option3" value="" name="question2">
      <label for="option3">{OPTION 3}</label><br>
      <input type="radio" id="option4" value="" name="question2">
      <label for="option4">{OPTION 4}</label><br>
    </fieldset>
    
    <h3>Question 3:</h3>
    
    <fieldset id="question3">
      <label for="question3">{PHASE TO TRANSLATE}</label><br>
      <input type="radio" id="option1" value="" name="question3" checked="checked">
      <label for="option1">{OPTION 1}</label><br>
      <input type="radio" id="option2" value="" name="question3">
      <label for="option2">{OPTION 2}</label><br>
      <input type="radio" id="option3" value="" name="question3">
      <label for="option3">{OPTION 3}</label><br>
      <input type="radio" id="option4" value="" name="question3">
      <label for="option4">{OPTION 4}</label><br>
    </fieldset>
    
    <h3>Question 4:</h3>
    
    <fieldset id="question4">
      <label for="question4">{PHASE TO TRANSLATE}</label><br>
      <input type="radio" id="option1" value="" name="question4" checked="checked">
      <label for="option1">{OPTION 1}</label><br>
      <input type="radio" id="option2" value="" name="question4">
      <label for="option2">{OPTION 2}</label><br>
      <input type="radio" id="option3" value="" name="question4">
      <label for="option3">{OPTION 3}</label><br>
      <input type="radio" id="option4" value="" name="question4">
      <label for="option4">{OPTION 4}</label><br>
    </fieldset>
    
    <h3>Question 5:</h3>
    
    <fieldset id="question5">
      <label for="question5">{PHASE TO TRANSLATE}</label><br>
      <input type="radio" id="option1" value="" name="question5" checked="checked">
      <label for="option1">{OPTION 1}</label><br>
      <input type="radio" id="option2" value="" name="question5">
      <label for="option2">{OPTION 2}</label><br>
      <input type="radio" id="option3" value="" name="question5">
      <label for="option3">{OPTION 3}</label><br>
      <input type="radio" id="option4" value="" name="question5">
      <label for="option4">{OPTION 4}</label><br>
    </fieldset>
    
    <h3>Question 6:</h3>
    
    <fieldset id="question6">
      <label for="question6">{PHASE TO TRANSLATE}</label><br>
      <input type="radio" id="option1" value="" name="question6" checked="checked">
      <label for="option1">{OPTION 1}</label><br>
      <input type="radio" id="option2" value="" name="question6">
      <label for="option2">{OPTION 2}</label><br>
      <input type="radio" id="option3" value="" name="question6">
      <label for="option3">{OPTION 3}</label><br>
      <input type="radio" id="option4" value="" name="question6">
      <label for="option4">{OPTION 4}</label><br>
    </fieldset>

    <br>
    <input type="button" id="submit-button" onclick="submitForm()" value="Submit">
</form>

<script src="js/src/lesson.js"></script>
</body>
</html>