<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{fragments/head :: head (titleName='CzechTutor - About')}"/>

<body>

<div class="container">

<th:block th:replace="~{fragments/navbar}"/>

<h4 class="display-4">About</h4>

<p>CzechTutor is a free and open source web app for helping Czech / English language students.</p>

<p>Lessons can be configured at various lengths and difficulties. Once a lLesson is completed, it is marked and graded with feedback for the student.</p>

<p>Czech / English phrases and vocabulary were sourced from:</p>

<ul>
  <li>
    <a href="https://www.manythings.org/anki/">https://www.manythings.org/anki/</a>
  </li>
  <li>
    <a href="https://apps.ankiweb.net/">https://apps.ankiweb.net/</a>
  </li>
  <li>
    <a href="https://tatoeba.org/en">https://tatoeba.org/en</a>
  </li>
</ul>

<th:block th:replace="~{fragments/footer}"/>

</div>

</body>
</html>