<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{fragments/head}"/>

<body>

<div class="container">

<th:block th:replace="~{fragments/navbar}"/>

<h4 class="display-4">Czech Tutor</h4>

<p>Start a Czech - English language lesson below.</p>

<form id="lesson_config_form" th:method="post" th:action="@{/home}" th:object="${lessonModel}">
    <h5 class="display-5">Select the language to translate from:</h5>
    <fieldset id="fromLanguageFieldset">
      <input type="radio" id="fromCzLanguage" th:value="${czLanguage}" name="fromCzLanguage" th:field="*{fromLanguage}" />
      <label for="fromCzLanguage" th:text="${czLanguage}"></label><br>
      <input type="radio" id="fromEnLanguage" th:value="${enLanguage}" name="fromEnLanguage" th:field="*{fromLanguage}"/>
      <label for="fromEnLanguage" th:text="${enLanguage}"></label><br>
    </fieldset>
    <h5 class="display-5">Select the number of questions:</h5>
    <input id="nQuestionsSlider" type="range" min="2" max="16" th:field="*{nQuestions}" oninput="this.nextElementSibling.value = this.value" />
    <output for="nQuestionsSlider">6</output><br>
    <h5 class="display-5">Select a difficulty</h5>
    <select id="difficultySelect" class="form-select" th:field="*{level}">
    <option th:each="level : ${levels}" th:value="${level}" th:text="${level}"></option>
    </select><br>
    <br>
    <button id="lesson_start_button" type="submit" class="btn btn-outline-dark">Start</button>
</form>

<th:block th:replace="~{fragments/footer}"/>

<script>
  // defaulting inputs using javascript
  document.getElementById("fromCzLanguage").setAttribute("checked","checked")
  document.getElementById("nQuestionsSlider").setAttribute("value","6")
</script>

</div>

</body>
</html>