<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>lesson</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}" />
</head>
<body>

<div class="container">

<h4 class="display-4">Lesson</h4>

<h5 class="display-5">Translate the following phase.</h5>

<p th:text="${questionModel.phrase}" />

<form id="question_form" th:method="post" th:action="@{/lesson/{path}(path=${path})}" th:object="${answerModel}">
    <fieldset id="question">
      <input type="radio" id="question" th:value="${questionModel.option1}" name="option1" th:field="*{answer}" />
      <label for="option1" th:text="${questionModel.option1}"></label><br>
      <input type="radio" id="question" th:value="${questionModel.option2}" name="option2" th:field="*{answer}" />
      <label for="option2" th:text="${questionModel.option2}"></label><br>
      <input type="radio" id="question" th:value="${questionModel.option3}" name="option3" th:field="*{answer}" />
      <label for="option3" th:text="${questionModel.option3}"></label><br>
      <input type="radio" id="question" th:value="${questionModel.option4}" name="option4" th:field="*{answer}" />
      <label for="option4" th:text="${questionModel.option4}"></label><br>
    </fieldset>
    <br>
    <button type="submit" class="btn btn-outline-dark">Submit</button>
</form>

</div>

<footer id="footer">
  <h6>CzechTutor © 2024</h4>
</footer>

</body>
</html>