<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{fragments/head :: head (titleName='CzechTutor - Scores')}"/>

<body>

<div class="container">

<th:block th:replace="~{fragments/navbar}"/>

<h4 id="lessonScores" class="display-4">Scores</h4>

<p>Your completed lessons, settings and overall scores:</p>

<table id="scoresTable" class="table table-striped table-hover">
    <thread>
    <tr>
      <th scope="col">Lesson Id</th>
      <th scope="col">From Language</th>
      <th scope="col">To Language</th>
      <th scope="col">Level</th>
      <th scope="col">N Questions</th>
      <th scope="col">N Correct</th>
      <th scope="col">Score</th>
    </tr>
    </thread>
    <tbody>
    <tr th:each="lessonResult : ${lessonsResults}">
      <td><a th:href="@{/result/{lessonId}(lessonId=${lessonResult.getLessonId()})}" th:text="${lessonResult.getLessonId()}" /></td>
      <td th:text="${lessonResult.getFromLanguage()}" />
      <td th:text="${lessonResult.getToLanguage()}" />
      <td th:text="${lessonResult.getLevel()}" />
      <td th:text="${lessonResult.getNQuestions()}" />
      <td th:text="${lessonResult.getNCorrect()}" />
      <td th:text="${lessonResult.getScore()}" />
    </tr>
    </tbody>
</table>
<br>

</div>

<th:block th:replace="~{fragments/footer}"/>

</div>

</body>
</html>